<header class='log-type-exercise'>
  <span class='log-icon log-icon-color'>Exercise <i class='fal fa-dumbbell'></i></span>
  <h5 class='card-title'><%= format_datetime(log.occurred_at) if log.persisted? %></h5>
</header>
