<h1>Exercise Logs</h1>

<%= render partial: 'shared/add_log_buttons' %>

<% @exercise_logs.each do |exercise_log| %>
  <%= render partial: 'exercise_log', locals: { exercise_log: exercise_log } %>
<% end %>
<br>
