<header class='add-log-buttons-container'>
  <section class='add-log-button exercise-button'>
    <%= link_to '<i class="fal fa-dumbbell fa-2x"></i><br>+Exercise'.html_safe, new_exercise_log_path %>
  </section>
</header>

<% @exercise_logs.each do |exercise_log| %>
  <%= render partial: 'exercise_log', locals: { exercise_log: exercise_log } %>
<% end %>
<br>
