<%= render partial: 'logs/log_header', locals: { log: @exercise_log, style_name: 'exercise', log_name: 'Exercise', icon_name: 'exercise' } %>

<h1 class='log-h1'>Log an Exercise</h1>

<%= render 'form', exercise_log: @exercise_log, url: exercise_logs_path %>

<script type='text/javascript'>
  exerciseDropdownSwitcher();
</script>
