<h1>Add Quick Log Link</h1>
<p>Add a set of commonly-entered values for a pain you experience regularly. This will create an "easy button" that will allow 1-click logging with these values in a new pain log.</p>

<%= render 'form', pain_log_quick_form_value: @pain_log_quick_form_value %>
