<details class='text-muted'>
  <summary><small>Homework</small></summary>

  <ul>
    <p><%= homework[:notes] %></p>
    <% homework[:exercises].each do |exercise|  %>
      <li><%= exercise.name %></li>
    <% end %>
  </ul>
</details>
