<header class='log-type-therapy'>
  <span class='log-icon log-icon-color'>PT Session <i class='fal fa-hospital-user'></i></span>
  <h5 class='card-title'><%= format_datetime(log.occurred_at) if log.persisted? %></h5>
</header>
