<%= render partial: 'logs/log_header', locals: { log: @pt_session_log, style_name: 'therapy', log_name: 'PT Session', icon_name: 'physical_therapy' } %>

<h1>Edit Session</h1>

<%= render 'form', pt_session_log: @pt_session_log %>

<%= render partial: 'shared/delete_footer', locals: { object: @pt_session_log, delete_path: @pt_session_log } %>