<%= render partial: 'logs/log_header', locals: { log: @pt_session_log } %>

<h1 class='log-h1'>Edit PT Session</h1>

<%= render 'form', pt_session_log: @pt_session_log %>

<%= render partial: 'shared/delete_footer', locals: { object: @pt_session_log, delete_path: @pt_session_log } %>