<%= render partial: 'logs/log_header', locals: { log: @pt_session_log, style_name: 'therapy', log_name: 'PT Session', icon_name: 'pt_session' } %>

<h1>New Session</h1>

<%= render 'form', pt_session_log: @pt_session_log %>
