<%= render partial: 'logs/log_header', locals: { log: @pt_session_log, log_type: 'therapy', log_name: 'PT Session', icon_name: 'physical_therapy' } %>

<h1>New Session</h1>

<%= render 'form', pt_session_log: @pt_session_log %>
