<%= render partial: 'logs/log_header', locals: { log: @pain_log, log_type: 'pain', log_name: 'Pain', icon_name: 'recent_patient' } %>

<h1>Editing Pain Log</h1>

<%= render 'form', pain_log: @pain_log %>

<%= render partial: 'shared/delete_footer', locals: { object: @pain_log, delete_path: @pain_log } %>