<header class='add-log-buttons-container'>
  <section class='add-log-button pain-button'>
    <%= link_to '<i class="fal fa-user-injured fa-2x"></i><br>+Pain'.html_safe, new_pain_log_path %>
  </section>
</header>

<% @pain_logs.each do |pain_log| %>
  <%= render partial: 'pain_log', locals: { pain_log: pain_log } %>
<% end %>
<br>
