<%= render partial: 'logs/log_header', locals: { log: @pain_log } %>

<h1 class='log-h1'>New Pain Log</h1>

<%= render 'form', pain_log: @pain_log %>

<script type='text/javascript'>
  painLevelDropdownSwitcher();
</script>
