<%= render partial: 'logs/log_header', locals: { log: @pain_log, log_type: 'pain', log_name: 'Pain', icon_name: 'fal fa-user-injured' } %>

<h1>New Pain Log</h1>

<%= render 'form', pain_log: @pain_log %>

<script type='text/javascript'>
  painLevelDropdownSwitcher();
</script>
