<header class='add-log-buttons-container'>
  <div class="row">
    <div class="col">
      <%= render 'buttons/new_pain_log' %>
    </div>

    <div class="col">
      <%= render 'buttons/new_exercise_log' %>
    </div>

    <div class="col">
      <%= render 'buttons/new_physical_therapy_log' %>
    </div>
  </div>
</header>
