<% flash.each do |type, message| %>
  <div class="mt-3 alert alert-<%= bootstrap_flash_class(type) %> fadein">
    <button type="button" class="close" data-bs-dismiss="alert"><span class="sr-only">Close</span></button>
    <%= message %>
  </div>
<% end %>
