<%= form_tag(url, method: 'get', id: 'search-form' ) do %>
  <div class="col-xs-12">
    <%= MaterialIcon.new(icon: 'search', classes: 'search-icon').render %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control form-control-sm' %>
  </div>
<% end %>

<p class='clear-search'><%= link_to 'Clear Search', url %></p>
