<h1>Editing Physical Therapy Session</h1>

<%= render 'form', physical_therapy_session: @physical_therapy_session %>

<%= link_to 'Delete PT Session', @physical_therapy_session, method: :delete, data: { confirm: 'Are you sure?' }, class: button_class('danger') %>
<%= link_to 'Cancel', physical_therapy_session_path(@physical_therapy_session), class: button_class('primary pull-right') %>
