<h1>Physical Therapy Sessions</h1>

<%= render partial: 'shared/add_log_buttons' %>

<% @physical_therapy_sessions.each do |physical_therapy_session| %>
  <%= render partial: 'physical_therapy_session', locals: { physical_therapy_session: physical_therapy_session } %>
<% end %>
<br>
