<h1>Physical Therapy Sessions</h1>

<%= link_to 'Log Exercise', new_exercise_log_path, class: 'btn btn-outline btn-primary btn-lg btn-home' %>
<%= link_to 'Log Pain', new_pain_log_path, class: 'btn btn-outline btn-primary btn-lg btn-home' %>
<%= link_to 'Log PT Session', new_physical_therapy_session_path, class: 'btn btn-outline btn-primary btn-lg btn-home' %>

<% @physical_therapy_sessions.each do |physical_therapy_session| %>
  <%= render partial: 'physical_therapy_session', locals: { physical_therapy_session: physical_therapy_session } %>
<% end %>
<br>
