<p id="notice"><%= notice %></p>

<h1>Exercises Logs</h1>

<% @log_entries.each do |log_entry| %>
  <%= render partial: 'log_entry', locals: { log_entry: log_entry } %>
<% end %>
<br>

<%= link_to 'New Entry', new_log_entry_path, class: button_class %>
