<% content_for(:title, format_datetime(@exercise_log.occurred_at)) %>

<h1>Editing <%= @exercise_log.exercise_name %></h1>

<%= render '/exercise_logs/form', exercise_log: @exercise_log, url: pt_session_log_exercise_log_path(@pt_session_log) %>

<%= render partial: 'shared/delete_footer', locals: { object: @exercise_log, delete_path: pt_session_log_exercise_log_path(@pt_session_log, @exercise_log), message: "Are you sure you want to delete #{@exercise_log.exercise_name}?" } %>
