/* Colors */
$default_text: #2b5f6e;
$brand_main: #0994A1;
$brand_main_lt: #AFE8ED;
$secondary: #B1B1B1;
$light_gray: #F1F1F1;
$medium_gray: #CCCCCC;
$error: red;

$pain_color: #F2B134;
$exercise_color: #48AA6C;
$therapy_color: #0994A1;

$orange: #ED553B;
$dk_blue: #112F41;
