// Colors
$default-text: #2b5f6e;
$brand-main: #0994a1;
$brand-main-lt: #afe8ed;
$secondary: #b1b1b1;
$light-gray: #f1f1f1;
$medium-gray: #ccc;
$error: ff0000;
$white: #fff;
$black: #000;

$pain-color: #f2b134;
$exercise-color: #48aa6c;
$therapy-color: #0994a1;
$slit-color: #8228d5;

$red:  #C70039  ;
$orange: #ed553b;
$dk-blue: #112f41;
