/* Colors */
$default_text: #2b5f6e;
$brand_main: #0994A1;
$brand_main_lt: #AFE8ED;
$secondary: #B1B1B1;
$light-gray: #F1F1F1;
$error: red;

$pain-color: #F2B134;
$exercise-color: #48AA6C;
$therapy-color: #0994A1;

$orange: #ED553B;
$dk-blue: #112F41;
