@import 'variables';

.add-log-buttons-container {
  margin: 1rem 0rem;
}
.add-log-button {
  margin: 0px;
  height: 80px;
  min-width: 75px;
  border-radius: 15px;
  text-align: center;
  padding-top: 0.6rem;
  vertical-align: middle;
  a {
    color: white;
    text-decoration: none;
  }
}

.pain-button {
  background-color: $pain_color;
  border: 1px solid darken($pain_color, 10%);
  &:hover { background-color: darken($pain_color, 10%) }
}

.exercise-button {
  background-color: $exercise_color;
  border: 1px solid darken($exercise_color, 10%);
  &:hover { background-color: darken($exercise_color, 10%) }
}

.therapy-button {
  background-color: $therapy_color;
  border: 1px solid darken($therapy_color, 10%);
  &:hover { background-color: darken($therapy_color, 10%) }
}
