@import 'variables';

article.exercise-list-item {
  border-top: 1px solid $light_gray;
  color: $default_text;
  padding: 0.6rem;
  h3 {
    font-size: 1.25rem;
    margin-bottom: 0px;
    a { color: $default_text; }
    i { float: right; }
  }
  p.exercise-description { margin-bottom: 0px; }
}
