@import 'variables';

.btn-home {
  width: 100%;
  margin-bottom: 1rem;
}
.card--log-entry {
  margin-bottom: 1rem;
  a { color: $default_text; }
  &:hover {
    background-color: $secondary;
    a { text-decoration: none; }
  }
  .card-header {
    display: flex;
  }
}
