@import 'variables';

.field {
  label {
    font-weight: bold;
    margin-top: 1rem;
    text-transform: capitalize;
  }
}

.required::after {
  color: $pain-color;
  content: ' *';
  font-size: .85rem;
}

.reset-link { color: $medium-gray; }
.reset-link:hover { color: $light-gray; }

// scss-lint:disable SelectorFormat
.field_with_errors .form-control {
  border: 1px solid $error;
  border-radius: .25rem;
}
// scss-lint:enable SelectorFormat
