@import 'variables';

.btn-home {
  width: 100%;
  margin-bottom: 1rem;
}

.card-body {
  padding: 0.6rem;
}

.card--log-entry {
  margin-bottom: 1rem;
  a { color: $default_text; }
  &:hover {
    background-color: $secondary;
    a { text-decoration: none; }
  }
}

.card--log-icon {
  float: right;
  font-size: 0.8rem;
}

.card-title {
  color: $secondary;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  line-height: 1rem;
}

.log-type-pain {
  border: 1px solid $pain-color;
  .card--log-icon {
    color: $pain-color;
  }
}

.log-type-exercise {
  border: 1px solid $exercise-color;
  .card--log-icon {
    color: $exercise-color;
  }
}

.log-type-therapy {
  border: 1px solid $therapy-color;
  .card--log-icon {
    color: $therapy-color;
  }
}
