@import 'variables';

.btn-home {
  width: 100%;
  margin-bottom: 1rem;
}

.card-body { padding: 0.6rem; }

.card--log-entry {
  margin-bottom: 1rem;
  a { color: $default_text; }
  &:hover {
    background-color: $light-gray;
    a { text-decoration: none; }
  }
}

.card--log-icon {
  float: right;
  font-size: 0.8rem;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  line-height: 1rem;
}

@mixin log-type-color($color) {
  border: 1px solid $color;
  .card--log-icon { color: $color; }
  .card-title { color: $color; }
}

.log-type-pain { @include log-type-color($pain-color); }

.log-type-exercise { @include log-type-color($exercise-color); }

.log-type-therapy { @include log-type-color($therapy-color); }

label.required:after{content: " *"; color: red;}
