.btn-home {
  margin-bottom: 1rem;
  width: 100%;
}

.header--icon-container {
  align-items: center;
  border-bottom-left-radius: var(--bootstrap-card-border-radius);
  border-top-right-radius: var(--bootstrap-card-border-radius);
  color: var(--white);
  display: flex;
  justify-content: center;
  margin-right: -1rem;
  margin-top: -1rem;
  min-width: 2rem;
  min-height: 3rem;
}

.card--padding-clear {
  padding: 0;
}

.card-body {
  padding: .6rem;
}

.card--icon-container {
  align-items: center;
  color: var(--white);
  display: flex;
  justify-content: center;
  min-width: 2rem;
}

.card--log-entry {
  margin-bottom: 1rem;
}

.card--log-entry a {
  color: var(--default-text);
}

.card--log-entry:hover {
  background-color: var(--light-gray);
}

.card--log-entry:hover a {
  text-decoration: none;
}

.log-h1 {
  font-size: large;
}

.log-icon-color {
  color: var(--black);
}

.card-title {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.card-text {
  font-size: .9rem;
  line-height: 1rem;
}

.log-border {
  border-color: var(--black);
  border-style: solid;
  border-width: .125em;
}

/* Expanded from @mixin log-type-color */
.log-type-pain .log-icon-color {
  color: var(--pain-color);
}

.log-type-pain .card-title {
  color: var(--pain-color);
}

.log-type-exercise .log-icon-color {
  color: var(--exercise-color);
}

.log-type-exercise .card-title {
  color: var(--exercise-color);
}

.log-type-therapy .log-icon-color {
  color: var(--therapy-color);
}

.log-type-therapy .card-title {
  color: var(--therapy-color);
}

.log-type-slit .log-icon-color {
  color: var(--slit-color);
}

.log-type-slit .card-title {
  color: var(--slit-color);
}

.color-exercise {
  color: var(--exercise-color);
}

.color-pain {
  color: var(--pain-color);
}

.color-therapy {
  color: var(--therapy-color);
}

.color-slit {
  color: var(--slit-color);
}

.background-color-exercise {
  background-color: var(--exercise-color);
}

.background-color-pain {
  background-color: var(--pain-color);
}

.background-color-therapy {
  background-color: var(--therapy-color);
}

.background-color-slit {
  background-color: var(--slit-color);
}

.border-color-exercise {
  border-color: var(--exercise-color);
}

.border-color-pain {
  border-color: var(--pain-color);
}

.border-color-therapy {
  border-color: var(--therapy-color);
}

.border-color-slit {
  border-color: var(--slit-color);
}
