@import 'variables';

.btn-home {
  margin-bottom: 1rem;
  width: 100%;
}

.card--padding-clear { padding: 0; }
.card-body { padding: .6rem; }

.card--icon-container {
  align-items: center;
  color: $white;
  display: flex;
  justify-content: center;
  width: 2rem;
}

.card--log-entry {
  margin-bottom: 1rem;
  a { color: $default-text; }
  &:hover {
    background-color: $light-gray;
    a { text-decoration: none; }
  }
}

.log-icon-color {color: $black;}

.card-title {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.card-text {
  font-size: .9rem;
  line-height: 1rem;
}

.log-border {
  border-color: $black;
  border-style: solid;
  border-width: .125em;
}

@mixin log-type-color($color) {
  .log-icon-color { color: $color; }
  .card-title { color: $color; }
}

.log-type-pain { @include log-type-color($pain-color); }
.log-type-exercise { @include log-type-color($exercise-color); }
.log-type-therapy { @include log-type-color($therapy-color); }
.log-type-slit { @include log-type-color($slit-color); }


.color-exercise { color: $exercise-color; }
.color-pain { color: $pain-color; }
.color-therapy { color: $therapy-color; }
.color-slit { color: $slit-color; }

.background-color-exercise { background-color: $exercise-color; }
.background-color-pain { background-color: $pain-color; }
.background-color-therapy { background-color: $therapy-color; }
.background-color-slit { background-color: $slit-color; }

.border-color-exercise { border-color: $exercise-color; }
.border-color-pain { border-color: $pain-color; }
.border-color-therapy { border-color: $therapy-color; }
.border-color-slit { border-color: $slit-color; }
