// Pagination Links
// modified digg_pagination from http://mislav.github.io/will_paginate/
.pagination {
  cursor: default;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: -1rem;

  a,
  span,
  em {
    border-radius: 5px;
    display: block;
    padding: .2em .5em;
  }

  .disabled { visibility: hidden; }

  a {
    border: 1px solid $brand-main;
    color: $brand-main;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    border-color: darken($brand-main, 5%);
    color: darken($brand-main, 5%);
  }
}
