// Search bar
.search-icon {
  color: $medium-gray;
  float: right;
  position: relative;
  right: 14px;
  top: 25px;
}

.clear-search {
  font-size: 90%;
  margin-bottom: 2em;
  text-align: center;
  a { color: $medium-gray; }
}
