@import 'variables';

/* Search bar */
.search_icon {
  position: relative;
  float: right;
  top: 25px;
  right: 14px;
  color: $medium_gray;
}

.clear_search {
  font-size: 90%;
  margin-bottom: 2em;
  text-align: center;
  a {
    color: $medium_gray;
  }
}
