body { background-color: $dk-blue; }

.fa-nav {
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  text-align: center;
  width: 40px;
}

.fa-notes-medical {
  background-color: $brand-main;
  border: 1px solid $brand-main;
  color: $white;
  margin-right: .5rem;
  padding: .5rem;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.white-container {
  background-color: $white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 1rem;
}

.modal-dismiss {
  font-size: .75rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: middle;
}

.text-subtle {
  color: $medium-gray;
  font-style: italic;
}

// Index Pages
.index-list-item {
  border-top: 1px solid $light-gray;
  color: $default-text;
  padding: .6rem;

  h3 {
    font-size: 1.25rem;
    margin-bottom: 0;
    a { color: $default-text; }
    i { float: right; }
  }

  .exercise-description { margin-bottom: 0; }
}
