@import 'variables';

body { background-color: $dk-blue; }

.fa-nav {
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  text-align:center;
  width: 40px;
}

.fa-notes-medical {
  background-color: $brand_main;
  border: 1px solid $brand_main;
  color: white;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.white-container {
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 1rem;
}

.modal-dismiss {
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: middle;
}

/* Search bar */
.search_icon {
  position: relative;
  float: right;
  top: 25px;
  right: 14px;
  color: #CCC;
}

.clear_search {
  font-size: 90%;
  margin-bottom: 2em;
  text-align: center;
  a {
    color: #CCC;
  }
}

/* Pagination Links */
/* modified digg_pagination from http://mislav.github.io/will_paginate/ */
.pagination {
  cursor: default;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  a,  span,  em {
    padding: 0.2em 0.5em;
    display: block;
    border-radius: 5px;
  }
  .disabled {
    visibility: hidden;
  }
  a {
    text-decoration: none;
    color: $brand_main;
    border: 1px solid $brand_main;
  }
  a:hover,  a:focus {
    color: darken($brand_main, 5%);
    border-color: darken($brand_main, 5%);
  }
}

label.required:after {
  content: " *";
  color: red;
}

/* MEDIA QUERIES */

@media (max-width: 576px) {
  .btn-wide { width: 100%; }
}
