@import 'variables';

body { background-color: $dk-blue; }

.fa-nav {
  border-radius: 50%;
  font-size: 20px;
  height: 40px;
  text-align:center;
  width: 40px;
}

.fa-notes-medical {
  background-color: $brand_main;
  border: 1px solid $brand_main;
  color: white;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.pull-right {
  float: right;
}

.hidden {
  display: none;
}

.white-container {
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 1rem;
}
