@import 'variables';

// https://developer.mozilla.org/en-US/docs/Web/CSS/columns#try_it
.slit-report-data-container {
  columns: 3 auto;
}

.slit-report-data-row {
  align-items: center;
  border-bottom: 1px solid $black;
  border-left: 1px solid $black;
  border-right: 1px solid $black;
  display: flex;
  gap: 1rem;
  padding: .5rem;
}

.slit-report-data-header {
  border: 1px solid $black;
  font-weight: bold;
}

.slit-report-col-dose {
  width: 3rem;
}

.dose-skipped { color: $red; }

.slit-timer-container {
  text-align: center;
  color: $brand-main-lt;
  border: .125em solid $brand-main;
  border-radius: $bootstrap-card-border-radius;
  background-color: darken($brand-main, 20%);
}

.slit-timer-container a {
  color: $brand-main-lt;
}

.slit-timer-clock {
  font-size: 5rem;
  margin-top: 0;
  line-height: normal;
}

.slit-timer-dismiss {
  float: right;
  &:hover {
    color: darken($brand-main, 10%);
    cursor: pointer;
  }
}

// MEDIA QUERIES
@media (max-width: 576px) {
  .slit-report-data-container {
    columns: auto;
  }

  .slit-report-data-header:nth-of-type(2),
  .slit-report-data-header:nth-of-type(3) {
    display: none;
  }
}

@media print {
  .slit-report-col-dose {
    width: 1rem;
  }
}


