@import 'variables';

// SIZE
.text-xsmall { font-size: x-small; }
.text-small { font-size: small; }
.text-medium { font-size: medium; }
.text-large { font-size: large; }
.text-xlarge { font-size: x-large; }
.text-xxlarge { font-size: xx-large; }
.text-size-inherit { font-size: inherit; }

// DISPLAY
.flex { display: flex; }
.inline-block { display: inline-block; }
.justify-between { justify-content: space-between; }

// CORE
.color-error { color: $red; }
.background-color-error { background-color: $red; }
.border-color-error { border-color: $red; }

// MATERIAL ICONS
// https://fonts.google.com/icons

// Options:
// font-variation-settings:
// 'FILL' 0,
// 'wght' 400,
// 'GRAD' 0,
// 'opsz' 24

.icon-outlined { font-variation-settings: 'FILL' 0; }
.icon-filled { font-variation-settings: 'FILL' 1; }
