// @import 'variables';

.text-xsmall { font-size: x-small; }
.text-small { font-size: small; }
.text-medium { font-size: medium; }
.text-large { font-size: large; }
.text-xlarge { font-size: x-large; }
.text-xxlarge { font-size: xx-large; }
.text-size-inherit { font-size: inherit; }


.inline-block { display: inline-block; }

.flex { display: flex; }
