@import 'variables';

// SIZE
.text-xsmall { font-size: x-small; }
.text-small { font-size: small; }
.text-medium { font-size: medium; }
.text-large { font-size: large; }
.text-xlarge { font-size: x-large; }
.text-xxlarge { font-size: xx-large; }
.text-size-inherit { font-size: inherit; }

// DISPLAY
.flex { display: flex; }
.inline-block { display: inline-block; }
.justify-between { justify-content: space-between; }

// CORE
.color-error { color: $red; }
.background-color-error { background-color: $red; }
.border-color-error { border-color: $red; }

