<h1>User Profile</h1>

<p><strong>First Name:</strong> <%= @user.first_name %></p>
<p><strong>Last Name:</strong> <%= @user.last_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Admin:</strong> <%= @user.admin %></p>
