<h1>Editing Pain</h1>

<%= render 'form', pain: @pain %>

<%= render partial: 'shared/delete_footer', locals: { object: @pain, delete_path: @pain, message: 'If you delete this pain, you will also delete any Pain Logs associated with it. This cannot be undone. Consider renaming it instead. Are you sure you want to delete it?' } %>