<%= link_to 'New Pain', new_pain_path, class: button_class('primary pull-right') %>

<h1>Pains</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @pains.each do |pain| %>
      <tr>
        <td><%= link_to pain.name, edit_pain_path(pain) %></td>
        <td><%= link_to 'Edit', edit_pain_path(pain), class: button_class %></td>
      </tr>
    <% end %>
  </tbody>
</table>
