<%= link_to 'New Pain', new_pain_path, class: button_class('primary pull-right') %>

<h1>Pains</h1>

<% if @pains.present? %>
  <%= render partial: 'shared/search_form', locals: { url: pains_path } %>

  <% @pains.each do |pain| %>
    <article class='index-list-item'>
      <h3><%= link_to pain.name, edit_pain_path(pain) %></h3>
    </article>
  <% end %>
<% else %>
  <p>Create a New Pain</p>
  <%= link_to 'New Pain', new_pain_path, class: button_class('primary btn-wide') %>
<% end %>
