<h1>Editing Exercise</h1>

<%= render 'form', exercise: @exercise %>

<%= render partial: 'shared/delete_footer', locals: { object: @exercise, delete_path: @exercise, message: 'If you delete this exercise, you will also delete any Exercise Logs you created for it. Are you sure you want to do this? It cannot be undone.' } %>
