<h2>Head</h2>
<table class='table'>
  <thead>
    <tr>
      <th>Pain Type</th>
      <th>Average Intensity</th>
      <th>Occurrences</th>
      <th>First Occurrence</th>
      <th>Last Occurrence</th>
    </tr>
  </thead>
  <tbody>
    <%# @reports.each do |report| %>
      <tr>
        <td>Dizzy</td>
        <td>3</td>
        <td>24</td>
        <td>January 14, 2019</td>
        <td>July 27, 2021</td>
      </tr>
      <tr>
        <td>Ache</td>
        <td>5</td>
        <td>60</td>
        <td>February 6, 2020</td>
        <td>August 3, 2021</td>
      </tr>
    <%# end %>
  </tbody>
</table>
