<header class='log-type-slit'>
  <span class='log-icon'>SLIT <span class="material-symbols-outlined">colorize</span></span>
  <h5 class='card-title'><%= format_datetime(log.occurred_at) if log.persisted? %></h5>
</header>
