<header class='log-type-slit'>
  <span class='log-icon dose-skipped'>SLIT Dose Skipped <span class="material-symbols-outlined">warning</span></span>
  <h5 class='card-title'><%= "#{log.occurred_at.strftime('%a %m/%d/%y')} missing" if log.persisted? %></h5>
</header>
