<% content_for(:title, format_datetime(@slit_log.datetime_occurred)) %>

<%= render partial: 'slit_logs/slit_log_header', locals: { log: @slit_log } %>
<h1>Editing Log from <%= @slit_log.datetime_occurred.strftime('%a %m/%d/%y') %></h1>

<%= render 'form', slit_log: @slit_log, url: slit_logs_path(@slit_log) %>

<%= link_to 'Delete SLIT Log', @slit_log, method: :delete, data: { confirm: 'Are you sure?' }, class: button_class('danger') %>

