<div class="dropdown pull-right">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to 'All Time', reports_path, class: 'dropdown-item' %>
    <%= link_to 'Past Week', reports_past_week_path, class: 'dropdown-item' %>
    <%= link_to 'Past 2 Weeks', reports_past_two_weeks_path, class: 'dropdown-item' %>
  </div>
</div>
