<%= link_to 'New Body Part', new_body_part_path, class: button_class('primary pull-right') %>

<h1>Body Parts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @body_parts.each do |body_part| %>
      <tr>
        <td><%= link_to body_part.name, edit_body_part_path(body_part) %></td>
        <td><%= link_to 'Edit', edit_body_part_path(body_part), class: button_class %></td>
      </tr>
    <% end %>
  </tbody>
</table>
