<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'shared/navbar' %>
    <div class='container'>
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
